*{
    padding: 0px;
    margin: 0px;
    gap: 5px;

}
body{
    background-color: black;
}
.container{
    display: flex;
}
.box{
    height: 200px;
    width: 200px;
}
.first{
    background-color: brown;
}
.second{
    background-color: blueviolet;
}
.child1{
    height: 150px;
background-color: rgb(58, 65, 95);
}