.container{
    background-color: brown;
    display: flex ;
    /*flex-direction: row;
    flex-direction: column; 
    justify content:main axis he around kaam karta hai;
    main axis decide kun karega , aapka flex direction
    align - items ka mtla ki box ko kisi ki side arrage krna eg= 
    align - item : end nicle me sfit krna or centre mean 
    mid me sfit krna
    flex-wrap; wrap-reverse mtld ki jaise ki website jisme me vi open krte to sab me claer dikha 
    */
    height: 300px;
    justify-content:space-around;
    align-items: center;
    /* flex-wrap: wrap;
    gap: 5px;*/
}
.box{
    height: 100px;
    width: 100px;
    margin: 5px;
}
.first{
    background-color: aquamarine;
    /*flex-grow:1;*/
}
.second{
    background-color: bisque;
    /* flex-grow:2;*/
    /* flex-shrink:4;*/
    /*flex-basis: 200px; sized badla krta hai*/
}
.thrid{
    background-color: rgb(196, 243, 255);
}
.fourth{
    background-color: chocolate;
    align-self: flex-start;
}