#container{
    height: 200px;
    width: 300px;
    background-color: rgb(255, 221, 0);
    position: relative;
}
.box{
    box-sizing: border-box;
    background-color: blue;
}
.frist{
    height: 85px;
    width: 85px;
}
.second{
    height: 85px;
    width: 85px;
    
}
.second{
    position: absolute;
    bottom: 0px;

}
.third{
    height: 85px;
    width: 170px;
}
.third{
    position: absolute;
    top: 0px;
    right: 0px;

}
.fourth{
    height: 80px;
    width: 170px;

}
.fourth{
    position: absolute;
    bottom: 0px;
    right: 0px;
}