#container{
    height: 200px;
    width: 300px;
    background-color: rgb(123, 61, 139);
    position: relative;
}
.box{
    box-sizing:border-box;
    background-color: brown;
}
.frist{
    height: 50px;
    width: 300px;
}
.second{
    height: 50px;
    width:300px;
}
.second{
    position: absolute;
    right: 0px;
    bottom: 0px;
}
#circle{
    height: 100px;
    width: 100px;
    background-color: azure;
    border-radius: 50px;
    position: absolute;
    right: 100px;
}

